section {
    display: flex;
    flex-direction: column;
    width: 80%;

}

.card-body {
    display: inline;
}

img {
    width: auto;
    height: 200px;
    border-radius: 5px;
    transition-duration: 0.5s;
    transition-delay: 20ms;
    transition-timing-function: ease-in-out;
}

.title {
    border-radius: 5px;
    background-color: #9999;
}

.title h3 {
    text-align: center;
}

.card-buttons {
    text-align: right;
}

.card-buttons button {
    font-size: x-large;
    padding: 0.4rem 0.3rem 0.2rem 0.3rem;
    transition-duration: 0.5s;
    transition-delay: 20ms;
    transition-timing-function: ease-in-out;
}
.link {
    display: none;
    transition: color 0.5 ease-in-out;
}
.link a:hover{
    color: coral;
}

.btn:hover , .btn:focus  {
    transform: rotate(360deg);
}

.card-buttons a {
    padding: 0.3rem;
    text-decoration: none;
    color: var(--COLOR);
}
.card-buttons span {
    padding-right: 1em;
}

.right-img:hover {
    transform: scale(1.4) translateX(100px);
}

.d-none {
    display: none;
}

.d-block {
    display: inline;
    animation-name: MOver;
    animation-duration: 0.5s;
}

@keyframes MOver { 
    from {opacity: 0;}
    to {opacity: 1;}
  }

@media screen and (max-width: 1400px) {
    .card-body {
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .right-img:hover {
    transform: scale(1.2) translateX(20px);
    }
    img {
        height: 150px;
    }
}