.carousel {
    width: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 5rem;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1rem;
    border-left: 2px solid  var(--COLOR);
    border-right: 2px solid  var(--COLOR);
    border-radius: 0.4rem;
    line-height: 1rem;
}

.carousel img {
    /* float: right; */
    width: auto;
    height: 200px;
    border-radius: 0.4rem;
    box-shadow: 0rem 0rem 0.2rem 0.1rem rgba(0, 0, 0, 0.3);
}