.header-container {
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0;
    border: 2px solid red;

}
.navbar {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    list-style: none;
}