.header-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    /* border: 2px solid red; */
    

}
.navbar {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    background-color: var(--BG_COLOR);
    border-radius: 5px;
    list-style: none;
    padding: 0 1rem;

}

.navbar li button {
    color: var(--COLOR_DARK);
    border: none ;
    background-color: inherit;
    font-size: inherit;
    font-weight: bolder;
    text-decoration: none;
    padding: 0.5rem;
    cursor: pointer;
}

.about:hover, .about:focus,
.contacts:hover, .contacts:focus,
.projects:hover, .projects:focus   {
    border-radius: 2px;
    transform: scale(1.2);
    transition-duration: 0.5s;
    transition-delay: 20ms;
    transition-timing-function: ease-out;
}
